*{
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  font-family: 'Do Hyeon', sans-serif;
  background: linear-gradient(135deg, #fce8d5, #ffd3e1);
}

a {
  text-decoration: none;
  border: none;
}

li {
  list-style: none;
}

img {
  border: 0;
}

header {
  background:linear-gradient(to right, #7BA5D3,#7BA5D3 30%,#0a97b0) ;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 160px;
  font-family: 'Nanum Gothic', sans-serif;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px -60px 100px 20px black;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}


@keyframes headerfadeout {
  from{top: 0px;}
  to {top: -160px};
}

@keyframes headerfadein {
  from{top: -160px;}
  to {top: 0px};
}

.header-fade-out {
  animation: headerfadeout 0.3s ease-in normal forwards;
}

.header-fade-in {
  animation: headerfadein 0.3s ease-in normal forwards;
}

footer {
  background:  #ffd3e1 ;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
  font-size: 1.5rem;
  box-shadow: 0px 60px 90px 5px black;
}

.left-header, .right-header {
  display: flex;
  align-items: center;
}

.left-header {
  margin: 0px 20px;
}

ul {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 0px 20px;
  padding: 1rem 1rem;
  border-radius: 25px;
  height: 100%;
  transition: background-color 200ms linear;
}

.nav-link:hover {
  background-color: #087b8f;
}

.nav-link .link {
  font-size: 1.5rem;
  color: white;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 8px;
}

.contents {
  position: relative;
  top: 160px;
}

.type-container {
  position: absolute;
  top: 100px;
  left: 50%;
  padding: 0px 4rem;
  height: 2rem;
  transform: translate(-50%, 50%);
  font-family: 'Anonymous Pro', monospace;  
}

.type-writing {
  color: black;
  width: 24em;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 1.8rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 2.5s steps(19) 1s 1 normal both,
           blinkTextCursor 500ms steps(19) infinite normal;
}

@keyframes typewriter{
from{width: 0;}
to{width: 16em;}
}

@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

.hr {
  position: relative;
  border: thin solid;
  margin: 0 auto;
  top: 150px;
  width: 32rem; 
  color: black;
}

.copyright {
  font-family: 'Do Hyeon', sans-serif;
  margin: 0 20px;
}

.sns-link, .sns-link:active {
  margin-right: 10px;
  font-size: 1.8rem;
}

.fab, .fas {
  color: black;
  margin: 0 7px;
}


